DesiredDistance 20
Speed 0 20 40
SteerKp 1 1 1
SteerKi 0 0 0
SteerKd 0.08 0.08 0.08
LookAheadDistance 12 15 18
SteerPIDProportion 0.4
AccKd 0.05 0.05 0.05
AccKv 0.05 0.05 0.05
AccKa 0.1 0.1 0.1
DeltaS -5 10
AccLimit -4 0.5
PedalEffect 0.1
kAcc 1.2
bAcc 1.2
kBrake 2.4
bBrake 1.8
AccCorrectMax 3
BrakeCorrectMax 3
